<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <dynamic class="org.nalby.yobatis.MenuAppender" id="org.nalby.yobatis.menuAppender">
         </dynamic>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?after=additions">
         <dynamic class="org.nalby.yobatis.MenuAppender" id="org.nalby.yobatis.menuAppender">
         </dynamic>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.nalby.yobatis.command.generation"
            name="Generation">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.nalby.yobatis.YobatisGenerationHandler"
            commandId="org.nalby.yobatis.command.generation">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="org.nalby.yobatis.structure.eclipse.EclipseLogger"
            label="label">
      </consoleFactory>
   </extension>

</plugin>
