<mat-nav-list dense>
  <a routerLinkActive="active-list-item" mat-list-item routerLink="/install">
    安装Yobatis
  </a>
  <mat-divider></mat-divider>
  <a routerLinkActive="active-list-item" mat-list-item routerLink="/config">
    配置Yobatis
  </a>
  <mat-divider></mat-divider>
  <a routerLinkActive="active-list-item" mat-list-item routerLink="/code-intro">
    生成代码速览
  </a>
  <mat-divider></mat-divider>
  <a routerLinkActive="active-list-item" mat-list-item  routerLink="/usage">
    生成代码使用
  </a>
</mat-nav-list>
