<h1>
  配置
</h1>
<mat-divider></mat-divider>
<div>
  <p>使用Yobatis之前需要配置mysql数据库，单击Yobatis图标（第1步）弹出窗口，单击Config显示配置（第2步），单击Refresh显示当前库中的表（第三步）：</p>
  <img src="assets/img/activation.jpg" />
  <p>填入代码生成位置以及生成, java文件的package名字, xml mapper的位置，单击Generate（第4步）即可生成对应的DAO/Entity/Xml Mapper代码：</p>
  <img src="assets/img/generate.jpg" />
  <p>生成前后对比（完整示例请git clone https://github.com/linbaiye/yobatis-sample.git）</p>
  <img src="assets/img/before_generation.jpg" /> <label>----->>></label>
  <img src="assets/img/after_generation.jpg" />
</div>

