<h1>
  安装
</h1>
<mat-divider></mat-divider>
<div>
  <p>
    Yobatis目前只支持从本地安装，请到https://github.com/linbaiye/yobatis下载最新release。下载后找到IDEA的Preference/Settings目录，选择Plugins，通过Install Plugin From Disk安装，选择zip包即可，不需要解压:
  </p>
  <img src="assets/img/settings.jpg" />
  <img src="assets/img/from_disk.jpg" />
  <p>
    安装完成并重启后会在右侧显示Yobatis ToolWindow的按钮。如下图:
  </p>
  <img src="assets/img/after_installation.jpg" />
  <p>
    若没有该ToolWindow的按钮，请检查View -> Tool Windows，如下图:
  </p>
  <img src="assets/img/tool_window_position.jpg" />
</div>
